/* Green-theme. */
.vuecal__menu,
.vuecal__cell-events-count {
  @apply bg-blue-600;
}
.vuecal__title-bar {
  background-color: #00eeffc4;
}
.vuecal__cell--today,
.vuecal__cell--current {
  background-color: rgba(240, 240, 255, 0.4);
}
.vuecal:not(.vuecal--day-view) .vuecal__cell--selected {
  @apply bg-blue-600;
}
.vuecal__cell--selected:before {
  border-color: rgba(66, 185, 131, 0.5);
}

.vuecal__cell--disabled {
  text-decoration: line-through;
}
.vuecal__cell--before-min {
  color: #b6d6c7;
}
.vuecal__cell--after-max {
  color: #008b8b;
}

.vuecal__cell--disabled {
  text-decoration: line-through;
  color: #bbb;
}

.vuecal__event {
  cursor: pointer;
}

.vuecal__event-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 4px 0 8px;
}

.vuecal__event-time {
  display: inline-block;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.vuecal__event-content {
  font-style: italic;
}
